@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Indie+Flower");

body {
    font-family: Arial, sans-serif;
    color: black;
    background: url("../_imagens/fundo.jpg") center fixed repeat;
    background-color: white;
}
div#interface {
    background-color: rgba(221,221,221,0.85);
    margin: -8px;
    padding: 10px;
    box-shadow: 0px 0px 10px black;
    min-height: 750px;
}
header {
    border-bottom: 1px #606060 solid;
    height: 120px;
}
a {
    color: rgb(72,72,72);
    text-decoration: none;
}
a:hover {
    color: rgb(112,112,112);
    text-decoration: underline;
}
h1 {
    font-family: "Indie Flower", cursive;
    font-size: 30pt;
    font-weight: bolder;
    text-shadow: 2px 2px 4px black;
}
h2 {
    font-family: Georgia;
    font-size: 18pt;
    font-weight: normal;
    text-shadow: 2px 2px 3px black;
}
h3 {
    font-family: Palatino;
    font-size: 15pt;
    font-weight: normal;
    text-shadow: 2px 2px 3px black;
}
p {
    text-align: justify;
    text-indent: 15px;
}
img {
    border: 8px rgba(216,216,216,0.6) solid;
    box-shadow: 0px 0px 6px black;
    max-width: 500px;
    max-height: 400px;
}
.direita {
    float: right;
    margin: 5px 5px 10px 10px;
}
section#consultas {
    min-height: 350px;
}
form#calc fieldset {
    width: 160px;
    border: 1px solid black;
    background-color: rgba(128,128,128,0.5);
    margin-right: 150px;
    float: left;
}
form#calc p {
    float: right;
    margin: 5px;
}
form#calc h4 {
    background-color: rgba(255,255,255,0.4);
    font-size: 10pt;
    font-weight: normal;
    text-align: center;
    margin: 10px 0px 5px 0px;
    padding: 5px;
}
form#calc input {
    font-size: 13pt;
    width: 75px;
    background-color: rgba(240,240,240,0.5);
    box-shadow: 0px 0px 5px black;
}
form#calc input#limpar {
    width: 100%;
}
form#calc input:hover {
    background-color: rgba(216,216,216,0.5);
}
table {
    font-size: 14pt;
    border: 1px solid black;
    border-spacing: 0px;
    margin-top: -2px;
    background-color: gray;
    margin-bottom: 90px;
}
td, th {
    border: 1px solid black;
    margin: 0px;
    padding: 5px;
}
td {
    background-color: #cccccc;
}
video#pernas {
    margin: 20px 10px 0px auto;
    box-shadow: 0px 0px 10px black;
}
iframe {
    width: 530px;
    height: 300px;
    border: none;
    box-shadow: 0px 0px 10px black;
}
iframe#piramide {
    width: 750px;
    height: 325px;
    border: none;
    box-shadow: none;
    float: right;
    margin-right: 80px;
}
fieldset {
    border: 1px solid black;
    box-shadow: 0px 0px 5px black;
    background-color: rgba(208,208,208,0.7);
}
form#fContato fieldset {
    width: 500px;
}
form#fLogin fieldset {
    width: 280px;
    margin: 50px auto 100px auto;
}
form#fLogin p {
    font-size: 16pt;
    text-align: center;
}
form#fLogin input {
    font-size: 16pt;
    float: right;
}
form#fContato fieldset#sexo {
    width: 280px;
}
form textarea {
    font-family: Arial;
    font-size: 11pt;
    background-color: rgba(240,240,240,0.4);
    box-shadow: 0px 0px 5px black;
}
input {
    font-size: 12pt;
    background-color: rgba(240,240,240,0.4);
    box-shadow: 0px 0px 5px black;
}
input:hover, form textarea:hover {
    background-color: rgba(160,160,160,0.4);
}
form span {
    font-size: 11pt;  
}
form input#cLemb {
    margin: 10px 5px 10px 25px;
    float: none;
}
footer {
    border-top: 1px #606060 solid;
    height: 100px;
}