@charset "UTF-8";

body {
    background: none;
    overflow: hidden;
}
div.frame {
    background-color: rgba(255,255,255,0);
    margin: -8px;
    padding: 10px;
    box-shadow: none;
    max-width: 700px;
}
header.frame, article {
    margin-bottom: 800px;
    border-bottom: none;
}