ul.album li#fotoA01 {
    background: url("../placas/A_1a.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoA02 {
    background: url("../placas/A_1b.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoA03 {
    background: url("../placas/A_2a.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoA04 {
    background: url("../placas/A_2b.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoA05 {
    background: url("../placas/A_3a.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoA06 {
    background: url("../placas/A_3b.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoA07 {
    background: url("../placas/A_4a.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoA08 {
    background: url("../placas/A_4b.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoA09 {
    background: url("../placas/A_5a.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoA10 {
    background: url("../placas/A_5b.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoA11 {
    background: url("../placas/A_6.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoA12 {
    background: url("../placas/A_7a.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoA13 {
    background: url("../placas/A_7b.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoA14 {
    background: url("../placas/A_8.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoA15 {
    background: url("../placas/A_9.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoA16 {
    background: url("../placas/A_10a.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoA17 {
    background: url("../placas/A_10b.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoA18 {
    background: url("../placas/A_11a.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoA19 {
    background: url("../placas/A_11b.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoA20 {
    background: url("../placas/A_12.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoA21 {
    background: url("../placas/A_13a.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoA22 {
    background: url("../placas/A_13b.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoA23 {
    background: url("../placas/A_14.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoA24 {
    background: url("../placas/A_15.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoA25 {
    background: url("../placas/A_16.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoA26 {
    background: url("../placas/A_17.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoA27 {
    background: url("../placas/A_18.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoA28 {
    background: url("../placas/A_19.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoA29 {
    background: url("../placas/A_20a.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoA30 {
    background: url("../placas/A_20b.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoA31 {
    background: url("../placas/A_21a.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoA32 {
    background: url("../placas/A_21b.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoA33 {
    background: url("../placas/A_21c.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoA34 {
    background: url("../placas/A_21d.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoA35 {
    background: url("../placas/A_21e.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoA36 {
    background: url("../placas/A_22.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoA37 {
    background: url("../placas/A_23.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoA38 {
    background: url("../placas/A_24.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoA39 {
    background: url("../placas/A_25.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoA40 {
    background: url("../placas/A_26a.jpg") no-repeat;
    background-position: 50% 50%;
    background-size: 120px auto;
    background-color: white;
}
ul.album li#fotoA41 {
    background: url("../placas/A_26b.jpg") no-repeat;
    background-position: 50% 50%;
    background-size: 120px auto;
    background-color: white;
}
ul.album li#fotoA42 {
    background: url("../placas/A_27.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoA43 {
    background: url("../placas/A_28.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoA44 {
    background: url("../placas/A_29.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoA45 {
    background: url("../placas/A_30a.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoA46 {
    background: url("../placas/A_30b.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoA47 {
    background: url("../placas/A_30c.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoA48 {
    background: url("../placas/A_31.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoA49 {
    background: url("../placas/A_32a.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoA50 {
    background: url("../placas/A_32b.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoA51 {
    background: url("../placas/A_33a.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoA52 {
    background: url("../placas/A_33b.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoA53 {
    background: url("../placas/A_34.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoA54 {
    background: url("../placas/A_35.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoA55 {
    background: url("../placas/A_36.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoA56 {
    background: url("../placas/A_37.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoA57 {
    background: url("../placas/A_38.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoA58 {
    background: url("../placas/A_39.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoA59 {
    background: url("../placas/A_40.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoA60 {
    background: url("../placas/A_41.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoA61 {
    background: url("../placas/A_42a.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoA62 {
    background: url("../placas/A_42b.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoA63 {
    background: url("../placas/A_42c.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoA64 {
    background: url("../placas/A_43.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoA65 {
    background: url("../placas/A_44.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoA66 {
    background: url("../placas/A_45.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoA67 {
    background: url("../placas/A_46.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoA68 {
    background: url("../placas/A_47.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoA69 {
    background: url("../placas/A_48.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
