@charset "UTF-8";

ul.album {
    width: 1200px;
    margin: 0px auto;
    padding: 50px;
    overflow: hidden;
    list-style-type: none;
}
ul.album li {
    float: left;
    width: 120px;
    height: 120px;
    margin: 10px;
    background-color: white;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.4);
    -webkit-transition: all .4s;
}
ul.album#reg li {
    border: 5px red solid;
}
ul.album#adv li {
    border: 5px yellow solid;
}
ul.album#ind li {
    border: 5px green solid;
}
ul.album#sin li {
    border: 5px gray solid;
}
ul.album#ges li {
    border: 5px blue solid;
}
ul.album li:hover {
    -webkit-transform: scale(1.9);
}
ul.album li span {
    opacity: 0;
    color: white;
    text-align: justify;
    text-shadow: 1px 1px 3px black;
    background-color: rgba(0,0,0,0.3);
    font-size: 5pt;
    font-weight: bold;
    line-height: 220px;
    width: auto;
    padding: 5px;
}
ul.album li:hover span {
    opacity: 1;
}