@charset "UTF-8";

ul.album li#fotoG01 {
    background: url("../placas/G_1.gif") no-repeat;
    background-position: 50% 50%;
    background-size: 100px auto;
    background-color: white;
}

ul.album li#fotoG02 {
    background: url("../placas/G_2.gif") no-repeat;
    background-position: 50% 50%;
    background-size: 100px auto;
    background-color: white;
}

ul.album li#fotoG03 {
    background: url("../placas/G_3.gif") no-repeat;
    background-position: 50% 50%;
    background-size: 100px auto;
    background-color: white;
}

ul.album li#fotoG04 {
    background: url("../placas/G_4.gif") no-repeat;
    background-position: 50% 50%;
    background-size: 100px auto;
    background-color: white;
}