@charset "UTF-8";

ul.album li#fotoR01 {
    background: url("../placas/R_1.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoR02 {
    background: url("../placas/R_2.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoR03 {
    background: url("../placas/R_3.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoR04 {
    background: url("../placas/R_4a.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoR05 {
    background: url("../placas/R_4b.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoR06 {
    background: url("../placas/R_5a.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoR07 {
    background: url("../placas/R_5b.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoR08 {
    background: url("../placas/R_6a.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoR09 {
    background: url("../placas/R_6b.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoR10 {
    background: url("../placas/R_6c.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoR11 {
    background: url("../placas/R_7.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoR12 {
    background: url("../placas/R_8a.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoR13 {
    background: url("../placas/R_8b.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoR14 {
    background: url("../placas/R_9.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoR15 {
    background: url("../placas/R_10.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoR16 {
    background: url("../placas/R_11.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoR17 {
    background: url("../placas/R_12.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoR18 {
    background: url("../placas/R_13.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoR19 {
    background: url("../placas/R_14.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoR20 {
    background: url("../placas/R_15.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoR21 {
    background: url("../placas/R_16.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoR22 {
    background: url("../placas/R_17.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoR23 {
    background: url("../placas/R_18.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoR24 {
    background: url("../placas/R_19.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoR25 {
    background: url("../placas/R_20.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoR26 {
    background: url("../placas/R_21.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoR27 {
    background: url("../placas/R_22.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoR28 {
    background: url("../placas/R_23.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoR29 {
    background: url("../placas/R_24a.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoR30 {
    background: url("../placas/R_24b.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoR31 {
    background: url("../placas/R_25a.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoR32 {
    background: url("../placas/R_25b.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoR33 {
    background: url("../placas/R_25c.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoR34 {
    background: url("../placas/R_25d.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoR35 {
    background: url("../placas/R_26.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoR36 {
    background: url("../placas/R_27.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoR37 {
    background: url("../placas/R_28.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoR38 {
    background: url("../placas/R_29.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoR39 {
    background: url("../placas/R_30.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoR40 {
    background: url("../placas/R_31.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoR41 {
    background: url("../placas/R_32.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoR42 {
    background: url("../placas/R_34.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoR43 {
    background: url("../placas/R_35a.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoR44 {
    background: url("../placas/R_35b.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoR45 {
    background: url("../placas/R_36a.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoR46 {
    background: url("../placas/R_36b.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoR47 {
    background: url("../placas/R_37.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoR48 {
    background: url("../placas/R_38.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoR49 {
    background: url("../placas/R_39.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
ul.album li#fotoR50 {
    background: url("../placas/R_40.jpg");
    background-position: 50% 50%;
    background-size: 120px 120px;
    background-color: white;
}
