@charset "UTF-8";

ul.album li#fotoS01 {
    background: url("../placas/S_1.gif") no-repeat;
    background-position: 50% 50%;
    background-size: 120px auto;
    background-color: white;
}
ul.album li#fotoS02 {
    background: url("../placas/S_2.gif") no-repeat;
    background-position: 50% 50%;
    background-size: 120px auto;
    background-color: white;
}
ul.album li#fotoS03 {
    background: url("../placas/S_3.gif") no-repeat;
    background-position: 50% 50%;
    background-size: 120px auto;
    background-color: white;
}
ul.album li#fotoS04 {
    background: url("../placas/S_4.gif") no-repeat;
    background-position: 50% 50%;
    background-size: 120px auto;
    background-color: white;
}