@charset "UTF-8";

@font-face {
    font-family: "ChristmasCard";
    src: url("../_fontes/christmas.ttf");
}
@font-face {
    font-family: "Embassy";
    src: url("../_fontes/embassy.ttf");
}
@font-face {
    font-family: "HolyUnion";
    src: url("../_fontes/holyunion.ttf");
}

body {
    background: url("../_imagens/fundo.jpg") center fixed repeat;
    background-color: rgb(48,0,0);
}

div#interface {
    background-color: rgba(0,48,0,0.85);
    color: white;
    margin: -8px -8px -2000px -8px;
    padding: 25px;
    min-height: 750px;
}

a {
    color: gold;
    text-decoration: none;
}

a:hover {
    color: silver;
    text-decoration: underline;
}

h1 {
    font-family: "HolyUnion", serif;
    font-size: 35pt;
    text-shadow: 0px 0px 10px silver;
}

h2 {
    font-family: "Embassy", cursive;
    font-size: 22pt;
    color: rgb(0,255,0);
    text-shadow: 1px -1px red, -1px 1px red, 1px 1px red, -1px -1px red;
}

h3 {   
    font-family: "ChristmasCard", serif;
    font-size: 18pt;
    color: silver;
    text-shadow: 1px -1px blue, -1px 1px blue, 1px 1px blue, -1px -1px blue;
}

p {
    font-size: 13pt;
    text-indent: 40px;
    text-align: justify;
}

iframe {
    border: 12px inset rgba(255,215,0,0.6);
    box-shadow: 0px 0px 10px silver;
    width: 400px;
    height: 225px;
}

span h2 {
    font-family: "HolyUnion", cursive;
    margin-top: 0px;
    font-size: 20pt;
    color: rgb(208,0,0);
    text-shadow: 1px -1px rgb(0,255,0), -1px 1px rgb(0,255,0), 1px 1px rgb(0,255,0), -1px -1px rgb(0,255,0);
}

header#cabecalho {
    border-bottom: 1px solid rgba(255,215,0,0.6);
    min-height: 150px;
}

header h1 {
    margin: 10px;
}

header h2 {
    margin: 10px;
}

section#corpo {
    min-height: 350px;
}

footer#rodape {
    border-top: 1px solid rgba(255,215,0,0.6);
}

form {
    margin: auto;
    color: gold;
}

form#fContato {
    width: 500px;
    padding: 10px;
}

form fieldset {
    border: 2px solid rgba(255,215,0,0.6);
}

form legend {
    font-size: 13pt;
    font-weight: bold;
}

form span, form fieldset#sexo {
    margin-left: 40px;
}

form span#botoes input {
    padding: 5px;
    width: 100px;
}

form fieldset#sexo {
    width: 250px;
}

form input, form textarea {
    font-family: Times New Roman, serif;
    font-size: 12pt;
    background-color: rgba(0,128,0,0.6); 
    color: gold;
}

form input:hover, form textarea:hover {
    background-color: rgba(0,96,0,0.6); 
}