@charset "UTF-8";

body {
    background: url("../imagens/fundo.jpg") center fixed repeat;
}
div#interface {
    background-color: rgba(64,40,0,0.7);
    color: white;
    margin: -8px;
    padding: 5px 10px 5px 10px;
    font-family: Arial, sans-serif;
    min-height: 750px;
}
header {
    height: 150px;
    border-bottom: 1px solid brown;
}
section#conteudo {
    min-height: 620px;
}
a {
    color: goldenrod;
    text-decoration: none;
}
a:hover {
    color: gold;
    text-decoration: underline;
}
h1 {
    font-family: cursive;
    font-size: 30pt;
}
h2 {
    font-family: Cambria;
    font-size: 22pt;
}
h3 {
    font-family: Calibri;
    font-size: 18pt;
}
p {
    font-size: 11pt;
    text-indent: 20px;
    text-align: justify;
}
img {
    border: 8px solid brown;
    box-shadow: 0px 0px 10px red;
    max-width: 400px;
}
footer {
    height: 150px;
    border-top: 1px solid brown;
}
form#calc {
    position: relative;
    top: -35px;
    float: right;
    width: 265px;
    font-size: 9pt;
}
form#contato p {
    font-size: 13pt;
    text-indent: 0px;
}
form#contato fieldset {
    margin: 0px auto;
    width: 600px;
}
form#contato fieldset#sexo {
    background-color: rgba(255,255,255,0);
    width: 125px;
    margin: 0px;
}
form input, form textarea, p input, span input {
    background-color: rgba(165,42,42,0.4);
    color: white;
}
form#contato input, form#contato textarea {
    font-family: Calibri;
    font-size: 13pt;
}
form#contato input:hover, form#contato textarea:hover, p input:hover {
    background-color: rgba(123,0,0,0.4);
}
form fieldset#botoes input {
    padding: 5px 20px;
}
form fieldset {
    background-color: rgba(64,40,0,0.7);
    border: 2px solid brown;
}
form legend {
    color: rgb(255,208,192);
    font-weight: bold;
}
form#fAdmin {
    margin: 0px auto;
    width: 275px;
}
form#fAdmin p {
    text-align: center;
}