@charset "UTF-8";

body {
    background-color: rgb(0,0,48);
    color: white;
    font-family: Bell MT;
}
div#interface {
    background-color: rgba(0,0,8,0.9);
    box-shadow: 0px 0px 10px blue;
    min-height: 750px;
    margin: 5px;
    padding: 20px;
}
header {
    border-bottom: 1px rgb(32,32,96) solid;
    height: 100px;
}
p {
    text-align: justify;
    text-indent: 0px;
}
a {
    text-decoration: none;
    color: deepskyblue;
}
a:hover {
    text-decoration: underline;
    color: cyan;
}
h1 {
    font-family: Forte;
    font-size: 30pt;
    color: rgb(128,128,255);
    text-shadow: 2px 3px 5px white;
    padding: 0px;
    margin-bottom: 20px;
}
h2 {
    font-family: Rockwell;
    font-size: 18pt;
    color: rgb(0,192,255);
    text-shadow: 1px 1px 5px white;
    padding: 0px;
    margin-bottom: 20px;
}
h3 {
    font-family: Cambria;
    font-size: 14pt;
    color: aquamarine;
    text-shadow: 1px 1px 5px white;
    padding: 0px;
    margin-bottom: 20px;
}
img {
    width: auto;
    height: auto;
    max-width: 600px;
    max-height: 400px;
    border: 8px solid rgba(0,0,64,0.7);
    box-shadow: 1px 1px 5px rgba(255,255,255,0.6);
}
footer {
    border-top: 1px rgb(32,32,96) solid;
    height: 80px;
}
form#fContato {
    width: 600px;
    margin: 10px auto;
}
form#fAdmin {
    width: 250px;
    margin: 10px auto;
}
fieldset {
    border-color: rgba(0,0,64,0.7);
}
fieldset#sexo {
    width: 250px;
}
legend {
    font-family: Andalus;
    font-size: 14pt;
    font-weight: bold;
    color: aqua;
}
input, textarea, select {
    font-family: sans-serif;
    font-weight: normal;
    font-size: 10pt;
    color: white;
    background-color: rgba(0,0,255,0.5);
}
input:hover, textarea:hover, select:hover {
    background-color: rgba(0,0,128,0.5);
}
span input {
    padding: 5px;
}
span#mens h3 {
    padding: 10px;
    margin: 10px auto;
    max-width: 600px;
    color: white;
    border-radius: 10px;
    text-shadow: 0px 0px 2px black;
}
.avi {
    background-color: rgba(255,255,0,0.7);
}
.err {
    background-color: rgba(255,0,0,0.7);
}
.inf {
    background-color: rgba(0,255,0,0.7);
}