@charset "UTF-8";

@import url("https://fonts.googleapis.com/css?family=Titillium+Web");

@font-face {
    font-family: "FonteLogo";
    src: url("../fontes/bubblegum-sans-regular.otf");
}

:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --fonte-padrao: Arial, sans-serif;
}

* {
    font-family: var(--fonte-padrao);
}

body {
    font-family: Arial, sans-serif;
    color: white !important;
    background-image: radial-gradient(circle, white, blue);
    background-attachment: fixed;
}

main {
    background-color: rgba(0, 0, 16, 0.9);
    padding: 25px;
    box-shadow: white 0px 0px 10px;
    border-radius: 40px;
    width: 85%;
    min-width: 240px;
    max-width: 1150px;
    margin: auto;
}

div#teste {
    height: 100vh;
    width: calc(100% - 44px);
}

header#cabecalho h1 {
    font-family: "FonteLogo", sans-serif;
    font-size: 30pt;
    color: white;
    text-shadow: 1px -1px cyan, -1px 1px cyan, 1px 1px cyan, -1px -1px cyan;
}

header#cabecalho h2 {
    font-family: "Titillium Web", sans-serif;
    font-size: 16pt;
}

header > h1 {
    padding: 10px;
    text-align: center;
}

img {
    display: block;
    margin: auto;
    width: 75%;
    border: 10px solid white;
    box-shadow: 1px 1px 4px black;
}

img.redonda {
    border-radius: 100%;
}

img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

figure.foto-leg {
    position: relative;
    border: 8px solid white;
    box-shadow: 1px 1px 4px black;
    max-width: 700px;
    max-height: 500px;
}

figure.foto-leg img {
    width: 100%;
    height: 100%;
    border: none;
    box-shadow: none;
}

figure.foto-leg figcaption {
    opacity: 0;
    position: absolute;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 1s;
}

figure.foto-leg:hover figcaption {
    opacity: 1;
}

nav#menu > h1 {
    display: none;
}

nav#menu > ul {
    list-style-type: none;
    text-transform: uppercase;
}

nav#menu > ul > li > a {
    display: block;
    padding: 10px;
    margin: 0px;
    text-decoration: none;
    text-align: center;
    color: white;
    background-color: rgb(87, 87, 87);
}

nav#menu > ul > li:hover > a {
    background-color: gray;
    color: rgb(245, 245, 245);
    text-decoration: underline;
}

span#burger {
    background-color: rgb(48, 48, 48);
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

span#burger:hover {
    background-color: white;
    color: black;
}

div#interface {
    width: 800px;
    background-color: white;
    margin: 10px auto;
    box-shadow: 0px 0px 10px black;
    padding: 10px;
}

div.circulo {
    background-color: black;
    box-shadow: 0px 0px 10px yellow;
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

header#cabecalho img#icone {
    position: absolute;
    left: 780px;
    top: 40px;
}

header#cabecalho {
    border-bottom: 1px #606060 solid;
    height: 200px;
    background: url("../imagens/logo-peq.jpg") no-repeat 0px 100px;
}

section#corpo {
    display: block;
    max-width: 700px;
    float: left;
    border-right: 1px solid white;
    padding-right: 15px;
    padding-bottom: 10px;
}

aside#lateral {
    display: block;
    max-width: 700px;
    padding-bottom: 10px;
}

article#noticias h2 {
    font-size: 12pt;
    color: #606060;
    background-color: #dddddd;
    padding: 5px 0px 5px 10px;
    margin: 10px 0px 10px 0px;
}

footer#rodape {
    clear: both;
    border-top: 1px solid white;
    margin-top: 25px;
}

div.youtube {
    margin: 0px -20px 30px 20px;
    padding: 20px;
    padding-bottom: 50%;
    position: relative;
}

div.youtube iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 75%;
    height: 85%;
    border: 8px solid white;
}

div#radio {
    width: 300px;
    height: 300px;
    margin: auto;
    background: url("../imagens/radio.png") no-repeat;
    background-size: 100%;
}

div#tv {
    width: 400px;
    height: 275px;
    margin: auto;
    background: url("../imagens/tv.png") no-repeat;
    background-size: 100%;
}

audio#musica {
    display: block;
    position: relative;
    left: 20px;
    top: 75px;
    width: 250px;
}

video#filme {
    display: block;
    position: relative;
    left: 22px;
    top: 20px;
    width: 357px;
}

.botao {
    border-radius: 15px;
    background-color: #5511ff;
    border: none;
    color: white;
    text-align: center;
    font-size: 14pt;
    padding: 15px;
    width: 200px;
    cursor: pointer;
    margin: 5px;
    transition: all .5s;
}

.botao span {
    display: inline-block;
    position: relative;
    transition: all .5s;
}

.botao span:after {
    content: "\00bb";
    position: absolute;
    opacity: 0;
    top: 0px;
    right: -10px;
    transition: all .5s;
}

.botao:hover span {
    padding-right: 25px;
}

.botao:hover span:after {
    opacity: 1;
    right: 2px;
}

div#icons img {
    width: 100px;
    margin: 0px;
}

img#print, img#phone, img#tablet, img#pc, img#tv {
    display: none;
    border: none;
    box-shadow: none;
}

@media print {
    body {
        background-image: none;
    }

    img#print {
        display: block;
    }
}

@media screen and (min-width: 768px) {
    span#burger {
        display: none;
    }

    nav#menu > ul {
        display: block;
        margin-top: -25px;
        margin-left: 100px;
    }

    nav#menu > ul > li {
        display: inline-block;
    }
}

@media screen and (max-width: 768px) {
    body {
        background-image: url("../imagens/back-phone.jpg");
    }

    nav#menu > ul {
        margin-top: 0px;
        margin-left: -40px;
    }

    img#phone {
        display: block;
    }

    section#corpo {
        border-right: none;
        padding-right: 0px;
        padding-bottom: 0px;
    }

    aside#lateral {
        float: left;
    }

    div#radio {
        width: 250px;
        height: 250px;
        margin: auto;
        background: url("../imagens/radio.png") no-repeat;
        background-size: 100%;
    }
    
    div#tv {
        width: 265px;
        height: 200px;
        margin: auto;
        background: url("../imagens/tv.png") no-repeat;
        background-size: 100%;
    }
    
    audio#musica {
        display: block;
        position: relative;
        left: 19px;
        top: 63px;
        width: 205px;
    }
    
    video#filme {
        display: block;
        position: relative;
        left: 15px;
        top: 13px;
        width: 237px;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: url("../imagens/back-tablet.jpg");
    }

    img#tablet {
        display: block;
    }

    section#corpo {
        border-right: none;
        padding-right: 0px;
        padding-bottom: 0x;
    }

    aside#lateral {
        float: left;
    }
}

@media screen and (min-width: 992px) and (max-width: 1365px) {
    body {
        background-image: url("../imagens/back-pc.jpg");
    }

    img#pc {
        display: block;
    }

    section#corpo {
        border-right: none;
        padding-right: 0px;
        padding-bottom: 0x;
    }

    aside#lateral {
        float: left;
    }
}

@media screen and (min-width: 1365px) {
    body {
        background-image: url("../imagens/back-tv.jpg");
    }

    img#tv {
        display: block;
    }

    aside#lateral {
        display: block;
        max-width: 400px;
        float: right;
    }
}