@charset "UTF-8";

html {
    font-family: "Courier New", Courier, monospace;
}

ul, footer, nav, a, span#burger {
    display: none;
}

body {
    background-image: none;
}

img {
    max-width: 250px;
}

img#phone, img#tablet, img#pc, img#tv {
    display: none;
}

img#print {
    display: block;
}

div#icons img {
    width: 100px;
    margin: 0px;
}

audio, video, iframe {
    display: none;
}