@charset "UTF-8";

/* Comentário em CSS */

body {
    font-family: Arial, sans-serif !important;
    color: white !important;
    background: url("../_imagens/fundo.png") center fixed repeat;
}

div#interface {
    background-color: rgba(96, 96, 128, 0.9) !important;
    padding: 15px !important;
    box-shadow: 0px 0px 10px silver;
}

a {
    color: gold;
    text-decoration: none;
}

a:hover {
    color: silver;
    text-decoration: underline;
}

h1, h2 {
    text-shadow: 1px -1px deepskyblue, -1px 1px deepskyblue, 1px 1px deepskyblue, -1px -1px deepskyblue;
}