@charset "UTF-8";

body {
    background-color: rgb(128, 128, 0);
}

div.terminal {
    border: 10px double black;
    background-color: white;
    max-width: 1200px;
    min-height: 300px;
    margin: 100px auto;
    padding: 10px;
}

#mais {
    display: none;
}

#alerta {
    display: none;
    color: red;
}

div#d1 {
    top: 0px;
    left: 0px;
    width: 100px;
    height: 100px;
    background-color: blue;
    position: absolute;
    border-radius: 100%;
}