@charset "UTF-8";

form {
    width: 600px;
    margin: auto;
}

form p {
    text-align: left;
}

input, select, textarea {
    font-family: Arial, sans-serif;
    font-weight: normal;
    font-size: 13pt;
    background-color: rgba(255, 255, 255, 0.5);
}

input:hover, select:hover, textarea:hover {
    background-color: rgba(208, 208, 208, 0.5);
}

legend, hr {
    color: #888888;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 13pt;
}

fieldset {
    border-color: #cecece;
    margin: 20pt;
}

fieldset#sexo {
    margin-left: 50px;
    width: 120px;
}

fieldset#usuario {
    background: url("../imagens/icone-contato.png") no-repeat 95% 95%;
}

fieldset#endereco {
    background: url("../imagens/icone-endereco.png") no-repeat 95% 95%;
}

fieldset#mensagem {
    background: url("../imagens/icone-mensagem.png") no-repeat 95% 95%;
}

fieldset#pedido {
    background: url("../imagens/icone-pagamento.png") no-repeat 95% 95%;
}