@charset "UTF-8";

div#tv-radio {
    width: 900px;
    height: 580px;
    margin: auto;
    background: url("../imagens/radio-tv.png") center no-repeat;
}

video#filme {
    display: block;
    position: relative;
    width: 450px;
    top: 115px;
    left: 82px;
}

audio#musica {
    display: block;
    position: relative;
    width: 298px;
    top: 248px;
    left: 575px;
}