@charset "UTF-8";

body {
    overflow: hidden;
}
div#semaforo {
    width: 600px;
    height: 600px;
    background: url("../_imagens/semaforo.png") left top no-repeat;
}
div.farol {
    position: fixed;
    width: 41px;
    height: 41px;
    border-radius: 41px;
    opacity: 0;
    transition: opacity;
}
div#pare {
    top: 36px;
    left: 73px;
    background-color: rgb(255,0,0);
    box-shadow: 0px 0px 30px rgb(255,0,0);
}
div#atencao {
    top: 95px;
    left: 73px;
    background-color: rgb(255,255,0);
    box-shadow: 0px 0px 30px rgb(255,255,0);
}
div#siga {
    top: 155px;
    left: 73px;
    background-color: rgb(0,255,0);
    box-shadow: 0px 0px 30px rgb(0,255,0);
}
div.acender {
    opacity: 1;
}