@charset "UTF-8";

img {
    max-width: 20%;
    max-height: 20%;
    float: left;
}
ul {
    position: absolute;
    top: 0px;
    left: 450px;
    list-style-type: none;
}
li {
    padding: 5px;
}
li input {
    color: white;
    font-family: Arial, sans-serif;
    font-size: 20pt;
    font-weight: bolder;
    text-shadow: 0px 0px 5px black;
    width: 200px;
}
li input#vermelho {
    background-color: rgb(255,0,0);
}
li input#amarelo {
    background-color: rgb(255,255,0);
}
li input#verde {
    background-color: rgb(0,255,0);
}
p input.voltar {
    position: absolute;
    top: 500px;
    left: 20px;
}