.wp-block {} /*  (.wp-block {} ensures MT files load in Gutenberg editor) */

/*  MICROTHEMER STYLES  */


/*= Geral ===================== */

/** Geral >> Div **/
.wp-block-uagb-restaurant-menu > div:nth-of-type(1) > div:nth-of-type(1) > div {
	width: 150px !important;
}

/** Geral >> Div +6 Mais **/
.wp-block-uagb-restaurant-menu > div:nth-of-type(2) > div:nth-of-type(1) > div, 
.wp-block-uagb-restaurant-menu > div:nth-of-type(1) > div:nth-of-type(1) > div, 
.wp-block-uagb-restaurant-menu > div:nth-of-type(2) > div:nth-of-type(1) > div, 
.wp-block-uagb-restaurant-menu > div:nth-of-type(3) > div:nth-of-type(1) > div, 
.wp-block-uagb-restaurant-menu > div:nth-of-type(4) > div:nth-of-type(1) > div, 
.wp-block-uagb-restaurant-menu > div:nth-of-type(5) > div:nth-of-type(1) > div, 
.wp-block-uagb-restaurant-menu > div:nth-of-type(6) > div:nth-of-type(1) > div {
	width: 175px !important;
}

/** Geral >> Div +5 Mais **/
.wp-block-uagb-restaurant-menu > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(1) > div, 
.wp-block-uagb-restaurant-menu > div:nth-of-type(2) > div:nth-of-type(1) > div:nth-of-type(1) > div, 
.wp-block-uagb-restaurant-menu > div:nth-of-type(3) > div:nth-of-type(1) > div:nth-of-type(1) > div, 
.wp-block-uagb-restaurant-menu > div:nth-of-type(6) > div:nth-of-type(1) > div:nth-of-type(1) > div, 
.wp-block-uagb-restaurant-menu > div:nth-of-type(5) > div:nth-of-type(1) > div:nth-of-type(1) > div, 
.wp-block-uagb-restaurant-menu > div:nth-of-type(4) > div:nth-of-type(1) > div:nth-of-type(1) > div {
	width: 135px !important;
}

/** Geral >> Span +5 Mais **/
.wp-block-uagb-restaurant-menu > div:nth-of-type(1) > div:nth-of-type(1) > span, 
.wp-block-uagb-restaurant-menu > div:nth-of-type(2) > div:nth-of-type(1) > span, 
.wp-block-uagb-restaurant-menu > div:nth-of-type(3) > div:nth-of-type(1) > span, 
.wp-block-uagb-restaurant-menu > div:nth-of-type(6) > div:nth-of-type(1) > span, 
.wp-block-uagb-restaurant-menu > div:nth-of-type(5) > div:nth-of-type(1) > span, 
.wp-block-uagb-restaurant-menu > div:nth-of-type(4) > div:nth-of-type(1) > span {
	padding: 15px !important;
}

/** Geral >> Uagb ifb title **/
.uagb-block-df12d02e .uagb-ifb-title {
	font-weight: bold !important;
}


/*( < 480 )*/
@media (max-width: 479.98px) {
	/** Geral >> Uagb ifb title _3 **/
	.uagb-block-be0d34c6 .uagb-ifb-title {
	font-size: 25px !important;
}

	/** Geral >> Uagb ifb desc **/
	.uagb-block-be0d34c6 .uagb-ifb-desc {
	font-size: 14px !important;
}

	/** Geral >> Wpforms field label **/
	#wpforms-151-field_5-container .wpforms-field-label {
	font-size: 11px !important;
}

}

