@charset "UTF-8";

body {
    background-color: rgb(128, 0, 0);
}

div.terminal {
    border: 10px double black;
    background-color: white;
    max-width: 1200px;
    min-height: 300px;
    margin: 100px auto;
    padding: 10px;
}