@charset "UTF-8";

body {
    background: url("../imagens/fundo.jpg") center fixed repeat;
    background-color: white;
    color: black;
    font-family: Arial, sans-serif;
}

div#interface {
    background-color: rgba(240, 255, 192, 0.8);
    margin: -8px;
    padding: 10px;
    min-height: 750px;
    box-shadow: 0px 0px 5px black;
}

header#cabecalho {
    height: 100px;
    border-bottom: 1px solid #cecece;
}

section#corpo {
    min-height: 350px;
}

a {
   color: #888888;
   text-decoration: none;
}

a:hover {
    color: #aaaaaa;
    text-decoration: underline;
}

footer#rodape {
    border-top: 1px solid #cecece;
    height: 100px;
}

form legend {
    font-size: 13pt;
    font-weight: bolder;
    color: #666666;
}

form#fContato fieldset {
    margin: 0px auto;
    width: 500px;
}

form#fAdmin fieldset {
    margin: 0px auto;
    width: 200px;
}

form fieldset#sexo {
    margin: 0px;
    width: 150px;
}

input, select, textarea {
    box-shadow: 0px 0px 5px black;
    font-family: Arial, sans-serif;
    font-size: 12pt;
    background-color: rgba(255,255,255,0.3);
}

div#botoes input {
    padding: 5px;
    width: 75px;
}

div#mens {
    text-align: center;
}