@charset "UTF-8";

@font-face {
    font-family: "FontePadrao";
    src: url("../fonts/comic.ttf");
}

@font-face {
    font-family: "FonteTitulo";
    src: url("../fonts/forte.ttf");
}

@font-face {
    font-family: "FonteForm";
    src: url("../fonts/magneto.ttf");
}

@font-face {
    font-family: "FonteMat";
    src: url("../fonts/lucida.ttf");
}

@font-face {
    font-family: "FonteSub";
    src: url("../fonts/harlow.ttf");
}

body {
    background: url("../imagens/background.jpg") repeat center fixed;
    background-color: yellowgreen;
    color: black;
    font-family: "FontePadrao";
}

div#interface {
    background-color: rgba(255,255,0,0.8);
    min-height: 750px;
    margin: -8px;
    padding: 35px;
    box-shadow: 8px 8px 10px rgb(255,255,128);
}

header {
    border-bottom: 1px blue solid;
    height: 100px;
}

p {
    text-align: justify;
    text-indent: 0px;
}

a {
    text-decoration: none;
    color: blue;
}

a:hover {
    text-decoration: underline;
    color: cyan;
}

h1 {
    color: azure;
    font-family: "FonteTitulo";
    font-size: 30pt;
    text-shadow: 4px 4px 8px black;
}

h2 {
    color: rgb(0,0,128);
    text-shadow: 0px 0px 6px blue;
    font-family: Andalus;
    font-size: 20pt;
}

h3 {
    font-family: "FonteMat";
    font-size: 18pt;
    color: green;
    text-shadow: 3px 3px 4px white;
}

h4 {
    font-family: "FonteSub";
    font-size: 14pt;
    color: darkblue;
}

hgroup h2 {
    font-size: 15pt;
}

hgroup h3 {
    font-size: 11pt;
}

hgroup h4 {
    font-size: 10pt;
}

pre {
    font-family: "FontePadrao";
}

table {
    background-color: aqua;
    border: 1px blue solid;
    margin: 30px;
    padding: 2px;
    box-shadow: 1px 1px 10px black;
}

table th {
    background-color: blue;
    color: white;
    border: 1px blue solid;
}

table td {
    background-color: aquamarine;
    border: 1px blue solid;
}

ul#materia {
    list-style-type: none;
    margin-left: -40px;
}

iframe {
    width: 400px;
    height: 225px;
    border: 10px solid rgba(128, 255, 212, 0.5);
    box-shadow: 1px 1px 10px black;
}

footer {
    border-top: 1px blue solid;
    height: 100px;
}

form {
    margin: 10px auto;
}

form h3 {
    font-size: 14pt;
    text-align: center;
}

form#fContato {
    width: 600px;
}

form#fAdmin {
    width: 250px;
}

input, textarea, select {
    font-family: Cambria;
    font-weight: normal;
    font-size: 11pt;
    background-color: rgba(192,255,255,0.5);
}

input:hover, textarea:hover, select:hover {
    background-color: rgba(0,255,255,0.5);
}

legend {
    font-family: "FonteForm";
    font-weight: normal;
    font-size: 14pt;
    color: deepskyblue;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.6);
    margin-bottom: 10px;
}

fieldset {
    border-color: blue;
}

fieldset#sexo {
    width: 300px;
}

span input {
    padding: 5px;
}