<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8"/>
        <link rel="icon" href="imagens/favicon.ico"/>
        <title>Aprenda Vue JS</title>
        <link rel="stylesheet" href="css/estilo.css"/>
    </head>
    <body>
        <div>
            <header>
                <h1>Aprenda Vue JS</h1>
                <menu>
                    <li><a href="index.html">Página Inicial</a></li>
                    <li><a href="contato.html">Contato!</a></li>
                    <li><a href="tudo-sobre-vue-1.html" onclick="alert('Você já Está na Matéria desse Link!'); return false">Tudo sobre Vue JS Parte 1!</a></li>
                    <li><a href="tudo-sobre-vue-2.html">Tudo sobre Vue JS Parte 2!</a></li>
                </menu>
            </header>
            
<h2>Tudo sobre Vue JS Parte 1</h2>

<h3>Introdução, Instalação e Aprendendo sobre Reatividade</h3>

<p>Crie um documento HTML e adicione esse link na tag script: <a href="https://unpkg.com/vue" target="_blank">https://unpkg.com/vue</a></p>

<p>Crie uma div com a id "app", e numa nova tag script, crie o objeto dessa forma:</p>

<pre>
<code>
var app = new Vue({

});
</code>
</pre>

<p>Adicione alguns elementos assim:</p>

<pre>
<code>
var app = new Vue({
    el: "#app", // ID do elemento pai
    data: { // Onde estarão nossas variáveis
        titulo: "Aula 01 de Vue JS"
    }
});
</code>
</pre>

<p>Para escrever o elemento, vá na div criada e coloque dentro dela, a variável entre duas chaves, assim:</p>

<pre>
<code>
{{titulo}}
</code>
</pre>

<p>PS: Podemos formatar usando outras tags, como o H1.</p>

<p>Lembrando que o código criado só vai funcionar dentro da div criada, pelo fato da ID ter sido definida no código.</p>

<p>Tudo que produzir no Vue é reativo, sempre que for alterado no objeto o conteúdo ele será alterado no documento. Inclusive se abrirmos o console do navegador e fizermos uma nova atribuição, ele alterará. Digite no console esse comando:</p>

<pre>
<code>
app.titulo = "Novo Título"
</code>
</pre>

<h3>O que são Diretivas no Vue JS</h3>

<p>As diretivas são algo que dirige algo para que ela faça alguma tarefa.</p>

<p>As diretivas são colocadas dentro das tags HTML com as quais trabalhamos. Ele tem várias diretivas por padrão e podemos criar nossas próprias também.</p>

<p>As diretivas padrões começam com "v-", como <code>v-model</code>, <code>v-if</code> e <code>v-for</code>.</p>

<h3>Diretivas mais Utilizadas</h3>

<p>Vamos supor que queremos imprimir uma variável quando o status for verdadeiro, podemos fazer isso com o seguinte código:</p>

<pre>
<code>
var app = new Vue({
    el: "#app",
    data: {
        status: false,
        titulo: "Aula 01 de Vue JS"
    }
});
</code>
</pre>

<p>E no HTML, colocamos a diretiva <code>v-if</code>, dessa forma:</p>

<pre>
<code>
&lt;div id="app"&gt;
    &lt;h1 v-if="status"&gt;{{titulo}}&lt;/h1&gt;
&lt;/div&gt;
</code>
</pre>

<p>Ela não imprimirá se o status for falso, se trocarmos para verdadeiro ele exibirá.</p>

<p>PS: Da mesma forma, na diretiva if podemos colocar uma condição, como <code>num == 10</code>.</p>

<p>A diretiva <code>v-show</code> funciona de forma parecida, a diferença é que com v-if, caso seja falso, ele excluirá o texto do código-fonte (olhando pelo inspetor), e com v-show ele apenas adicionará um estilo CSS com display none.</p>

<p>Coloque dentro da nossa div um texto qualquer usando o v-show e outro o v-if para vermos aa diferença.</p>

<p>O v-show seria para, por exemplo, um menu abre-e-fecha ou mostrar-ocultar. O v-if seria mais para checar uma variável vinda de uma API ou do back-end (como do PHP ou Node).</p>

<p>A diretiva <code>v-else</code> é utilizada junto com a v-if, que exibe algo caso seja falso. Veja um exemplo de uso:</p>

<pre>
<code>
&lt;div id="app"&gt;
    &lt;h1 v-if="status"&gt;{{titulo}}&lt;/h1&gt;
    &lt;h1 v-else&gt;Título não Encontrado&lt;/h1&gt;
&lt;/div&gt;
</code>
</pre>

<p>Deixe o código assim:</p>

<pre>
<code>
var app = new Vue({
    el: "#app",
    data: {
        usuario: { // Usuário é um objeto
            id: 1,
            nome: "Fulano",
            profissao: "Ator"
        }
    }
});
</code>
</pre>

<p>E no HTML, faça assim:</p>

<pre>
<code>
&lt;div id="app"&gt;
    &lt;div v-if="usuario.id == 1"&gt;
        ID: {{usuario.id}}&lt;br/&gt;
        Nome: {{usuario.nome}}&lt;br/&gt;
        Profissão: {{usuario.profissao}}&lt;br/&gt;
    &lt;/div&gt;
    &lt;div v-else&gt;
        Nenhum Usuário com o ID especificado.&lt;br/&gt;
    &lt;/div&gt;
&lt;/div&gt;
</code>
</pre>

<h3>Diretiva v-for e suas Peculiariedades</h3>

<p>Deixe o código assim, com um array de objetos:</p>

<pre>
<code>
var app = new Vue({
    el: "#app",
    data: {
        linguagens: [{nome: "Javascript"},
            {nome: "PHP"},
            {nome: "C#"},
            {nome: "Java"},
            {nome: "Python"}]
    }
});
</code>
</pre>

<p>E para mostrarmos os itens através de um loop, colocamos a diretiva <code>v-for</code> assim:</p>

<pre>
<code>
&lt;div id="app"&gt;
    &lt;ul&gt;
        &lt;li v-for="i of linguagens"&gt;{{i}}&lt;/li&gt;
    &lt;/ul&gt;
&lt;/div&gt;
</code>
</pre>

<p>Ele mostrará cada objeto do array em uma lista. Para pegar só o nome, use o atributo nome do objeto.</p>

<p>PS: Para imprimir o index, coloque a diretiva assim:</p>

<pre>
<code>
&lt;li v-for="i, n of linguagens"&gt;{{n}} - {{i.nome}}&lt;/li&gt;
</code>
</pre>

<h3>Diretiva v-model - Interligando Formulário e Dados</h3>

<p>A diretiva <code>v-model</code> é utiliza em elementos de formulários, como o inputt e o textarea. Crie um input text dentro da div com a diretiva v-model com a variável nome. E declare a variável no Javascript, assim></p>

<pre>
<code>
var app = new Vue({
    el: "#app",
    data: {
        nome: ""
    }
});
</code>
</pre>

<p>Tente exibir a variável nome usando <code>{{nome}}</code> no HTML, dentro da div id app. Tudo que for escrito no input aparecerá no HTML. Isso porque o Vue é reativo.</p>

<p>Crie esse formulário dentro da DIV:</p>

<pre>
<code>
&lt;form method=&quot;get&quot;&gt;
    &lt;p&gt;&lt;label for=&quot;cNome&quot;&gt;Nome: &lt;/label&gt;&lt;input type=&quot;text&quot; name=&quot;tNome&quot; id=&quot;cNome&quot; v-model=&quot;nome&quot;/&gt;&lt;/p&gt;
    &lt;p&gt;
        Sexo:
        &lt;input type=&quot;radio&quot; name=&quot;tSex&quot; id=&quot;cMasc&quot; value=&quot;M&quot; v-model=&quot;sexo&quot; checked/&gt;&lt;label for=&quot;cMasc&quot;&gt;Masculino&lt;/label&gt;
        &lt;input type=&quot;radio&quot; name=&quot;tSex&quot; id=&quot;cFem&quot; value=&quot;F&quot; v-model=&quot;sexo&quot;/&gt;&lt;label for=&quot;cFem&quot;&gt;Feminino&lt;/label&gt;
    &lt;/p&gt;
    &lt;p&gt;
        &lt;label for=&quot;cNac&quot;&gt;Nacionalidade: &lt;/label&gt;
        &lt;select name=&quot;tNac&quot; id=&quot;cNac&quot; v-model=&quot;nacionalidade&quot;&gt;
            &lt;option&gt;Brasileiro&lt;/option&gt;
            &lt;option&gt;Estrangeiro&lt;/option&gt;
        &lt;/select&gt;
    &lt;/p&gt;
    &lt;p&gt;
        Interesses:
        &lt;input type=&quot;checkbox&quot; name=&quot;tEsp&quot; id=&quot;cEsp&quot; value=&quot;Esportes&quot; v-model=&quot;interesses&quot;/&gt;&lt;label for=&quot;cEsp&quot;&gt;Esportes&lt;/label&gt;
        &lt;input type=&quot;checkbox&quot; name=&quot;tCin&quot; id=&quot;cCin&quot; value=&quot;Cinema&quot; v-model=&quot;interesses&quot;/&gt;&lt;label for=&quot;cCin&quot;&gt;Cinema&lt;/label&gt;
        &lt;input type=&quot;checkbox&quot; name=&quot;tGas&quot; id=&quot;cGas&quot; value=&quot;Gastronomia&quot; v-model=&quot;interesses&quot;/&gt;&lt;label for=&quot;cGas&quot;&gt;Gastronomia&lt;/label&gt;
    &lt;/p&gt;
&lt;/form&gt;
</code>
</pre>

<p>No Vue, faça isso:</p>

<pre>
<code>
var app = new Vue({
    el: "#app",
    data: {
        nome: "",
        sexo: "",
        nacionalidade: "",
        interesses: []
    }
});
</code>
</pre>

<p>Depois é só chamar as variáveis dentro da div.</p>

<h3>Diretiva v-bind - Atribuindo Valor as Tags HTML</h3>

<p>Delete tudo de dentro da div e coloque essa tag img:</p>

<pre>
<code>
&lt;img v-bind:src="imagem" v-bind:alt="alt"/&gt;
</code>
</pre>

<p>E no Vue, faça assim:</p>

<pre>
<code>
var app = new Vue({
    el: "#app",
    data: {
        imagem: "imagens/desktop-e-celular.png",
        alt: "Imagem do Vue"
    }
});
</code>
</pre>

<p>Da mesma forma, podemos fazer o mesmo com qualquer atributo do HTML, como title, id, class, etc.</p>

<p>PS: Dessa forma, podemos colocar atributos sem precisar do objeto Vue, assim:</p>

<pre>
<code>
&lt;img v-bind:src="'imagens/desktop-e-celular.png'" v-bind:alt="'Imagem do Vue'"/&gt;
</code>
</pre>

<p>Agora, crie esse estilo no CSS:</p>

<pre>
<code>
.red {
    color: red;
}

.green {
    color: green;
}
</code>
</pre>

<p>Coloque dentro da DIV esse código com a diretiva:</p>

<pre>
<code>
&lt;p v-bind:class="classe"&gt;Esse texto será vermelho ou verde!&lt;/p&gt;
</code>
</pre>

<p>E no Vue, coloque isso:</p>

<pre>
<code>
var app = new Vue({
    el: "#app",
    data: {
        classe: "green"
    }
});
</code>
</pre>

<ul>
    <li><a href="tudo-sobre-vue-2.html">Continuação da Matéria!</a></li>
</ul>

        </div>
    </body>
</html>